@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #100420;
	overflow-x: hidden;
	margin: auto;
}

header {
	max-width: 90%;
}

.logo {
	position: relative;
	left: 3%;
	right: 0%;
	top: 42px;
	bottom: 0%;
	width: 149px;
}

input[type="text"] {
	position: relative;
	width: 562px;
	height: 47px;
	top: 30px;
	left: 200px;
	border-radius: 15px;
	border: none;
	opacity: 0.9;
	background: rgba(46, 28, 69, 0.51);
}

input::placeholder {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	position: relative;
	left: 3%;
	color: rgba(255, 255, 255, 0.67);
}

img.search {
	position: relative;
	width: 20px;
	height: 29px;
	left: 11.5%;
	top: 40.4px;
	color: #100420;
}

.wallet {
	background-color: azure;
	position: relative;
	width: 220px;
	left: 1090px;
	top: -19px;
	border-radius: 15px;
	height: 47px;
	text-align: center;
	opacity: 0.9;
	background: rgba(255, 255, 255, 0.08);
}

.wallet span {
	color: #ffff;
	font-size: 14px;
	font-family: "Inter", sans-serif;
	top: 0.1rem;
	position: relative;
	left: -2%;
}

.wallet img {
	width: 26px;
	height: 27px;
	position: relative;
	left: -5%;
	right: 17.01%;
	top: 23%;
	bottom: 96.14%;
}
.hr-lin {
	position: relative;
	min-width: 101%;
	height: 0px;
	left: -15px;
	top: 20px;
	border: 1px solid rgba(255, 255, 255, 0.21);
	transform: rotate(180deg);
}

.vertical-line {
	border-left: 1px solid rgba(255, 255, 255, 0.21);
	height: 60rem;
	position: relative;
	left: 265px;
	top: 1.23rem;
}

.left-half {
	position: absolute;
	top: 25%;
	left: 22%;
	color: wheat;
}

.left-half b {
	width: 196px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 128%;
	/* identical to box height, or 31px */

	text-align: center;
	letter-spacing: 0.02em;

	color: #ffffff;
}

.left-half h1 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 128%;
	letter-spacing: 0.02em;
	letter-spacing: 2%;
	color: #88e900;
	max-width: 70%;
	margin-top: 10px;
}

.left-half p {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	max-width: 364px;
	color: #ffffff;
	margin-top: 15px;
}
.left-but {
	margin-top: 10px;
}
button.create-loan {
	box-sizing: border-box;
	width: 165px;
	height: 45px;
	background: #88e900;
	border-radius: 20px;
}
button.create-loan span {
	font-family: "Inter";
	font-style: normal;
	font-size: 15px;
	line-height: 19px;
	color: #26143e;
	font-weight: 500;
}
button.inst-loan {
	margin-left: 27px;
	width: 165px;
	height: 45px;
	border: 1px solid #88e900;
	border-radius: 20px;
	background-color: transparent;
}
button.inst-loan span {
	font-family: "Inter";
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	color: #88e900;
}

#right-half1 {
	font-family: "Inter";
	position: relative;
	margin-top: -37.7rem;
	color: wheat;
	box-sizing: border-box;
	width: 310px;
	height: 402px;
	left: 690px;
	top: 145px;
	padding-right: 4em;
	background: rgba(228, 206, 255, 0.17);
	backdrop-filter: blur(15.5px);
	border-radius: 20px;
}

.depo-bold {
	position: absolute;
	left: 26px;
	top: 21px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 154.52%;
	color: white;
}

.depo-text {
	position: absolute;
	left: 26px;
	top: 64px;
	width: 90%;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 132.52%;
	color: #ffffff;
}

.coin-depo {
	position: relative;
	width: 265px;
	height: 244px;
	left: 26px;
	top: 125px;
	bottom: 33px;
}
#eth-card {
	box-sizing: border-box;
	position: absolute;
	width: 265px;
	height: 56px;
	background: rgba(228, 206, 255, 0.17);
	border-radius: 15px;
}

#sol-card {
	box-sizing: border-box;
	position: absolute;
	width: 265px;
	height: 56px;
	bottom: 126px;
	max-width: 100%;
	background: rgba(228, 206, 255, 0.17);
	border-radius: 15px;
}

#usdc-card {
	box-sizing: border-box;
	position: absolute;
	width: 265px;
	height: 56px;
	bottom: 64px;
	background: rgba(228, 206, 255, 0.17);
	border-radius: 15px;
}

#matic-card {
	box-sizing: border-box;
	position: absolute;
	width: 265px;
	height: 56px;
	top: 186px;
	background: rgba(228, 206, 255, 0.17);
	border-radius: 15px;
}

#eth-icon {
	position: relative;
	left: 7px;
	top: 6.36px;
}

.eth-descript {
	position: absolute;
	left: 51px;
	color: white;
	bottom: 10px;
}

#eth-apy {
	font-size: 14px;
	color: #88e900;
}

#eth-but {
	box-sizing: border-box;
	border: none;
	width: 80px;
	height: 35px;
	margin-left: 170px;
	background: #88e900;
	backdrop-filter: blur(15.5px);
	/* Note: backdrop-filter has minimal browser support */
	margin-top: -34.5px;
	display: block;
	border-radius: 10px;
	font-weight: 700;
}

.blur {
	position: absolute;
	width: 466px;
	height: 430px;
	left: 887px;
	top: 105px;
	background: rgba(0, 156, 243, 0.24);
	filter: blur(110px);
}

#sol-img {
	position: absolute;
	left: 10.38px;
	top: 9px;
}

.sol-descript {
	position: absolute;
	left: 51px;
	bottom: 10px;
	top: 9px;
	color: white;
}

.sol-descript span {
	color: #88e900;
	font-size: 14px;
}
#sol-but {
	box-sizing: border-box;
	border: none;
	width: 80px;
	height: 35px;
	margin-left: 170px;
	background: #88e900;
	backdrop-filter: blur(15.5px);
	/* Note: backdrop-filter has minimal browser support */
	margin-top: 11px;
	display: block;
	border-radius: 10px;
	font-weight: 700;
}

#usdc-img {
	position: absolute;
	left: 10.38px;
	top: 9px;
}

.usdc-descript {
	position: absolute;
	left: 51px;
	bottom: 10px;
	top: 9px;
	color: white;
}

.usdc-descript span {
	color: #88e900;
	font-size: 14px;
}

#usdc-but {
	box-sizing: border-box;
	border: none;
	width: 80px;
	height: 35px;
	margin-left: 170px;
	background: #88e900;
	backdrop-filter: blur(15.5px);
	/* Note: backdrop-filter has minimal browser support */
	margin-top: 11px;
	display: block;
	border-radius: 10px;
	font-weight: 700;
}

#matic-img {
	position: absolute;
	left: 1px;
	top: 4px;
}

.matic-descript {
	position: absolute;
	left: 51px;
	bottom: 10px;
	top: 9px;
	color: white;
}

.matic-descript span {
	color: #88e900;
	font-size: 14px;
}
#matic-but {
	box-sizing: border-box;
	border: none;
	width: 80px;
	height: 35px;
	margin-left: 170px;
	background: #88e900;
	backdrop-filter: blur(15.5px);
	/* Note: backdrop-filter has minimal browser support */
	margin-top: 11px;
	display: block;
	border-radius: 10px;
	font-weight: 700;
}

#right-half2 {
	font-family: "Inter";
	position: relative;
	margin-top: -37.7rem;
	color: wheat;
	box-sizing: border-box;
	width: 310px;
	height: 402px;
	left: 1020px;
	top: 346px;
	background: rgba(228, 206, 255, 0.17);
	backdrop-filter: blur(15.5px);
	border-radius: 20px;
}

.right-half {
	position: relative;
	top: -28.5rem;
}

nav {
	position: relative;
	left: 275px;
	top: -3rem;
}

nav ul li {
	list-style: none;
	font-family: "Inter";
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	float: left;
	margin: 19px 33px;
	color: #ffffff;
	font-weight: 400;
}

nav ul li a {
	text-decoration: none;
	display: inline-block;
	position: relative;
	color: white;
}
nav ul li a::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: -15px;
	left: 0;
	background-color: white;
	transform-origin: bottom right;
	transition: transform 0.5s ease-out;
}
nav ul li a:hover {
	font-weight: 500;
}
nav ul li a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.line2 {
	border: 1px solid rgba(255, 255, 255, 0.2);
	position: absolute;
	width: 1020px;
	height: 0px;
	left: 33px;
	top: 51px;
}
