@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #100420;
	overflow-x: hidden;
}

header {
	max-width: 90%;
}

.logo {
	position: relative;
	left: 3%;
	right: 0%;
	top: 42px;
	bottom: 0%;
	width: 149px;
}

input[type="text"] {
	position: relative;
	width: 562px;
	height: 47px;
	top: 30px;
	left: 220px;
	border-radius: 15px;
	border: none;
	opacity: 0.9;
	background: rgba(46, 28, 69, 0.51);
}

input::placeholder {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	position: relative;
	left: 3%;
	color: rgba(255, 255, 255, 0.67);
}

img.search {
	position: relative;
	width: 20px;
	height: 29px;
	left: 13%;
	top: 40.4px;
	color: #100420;
}

.wallet {
	background-color: azure;
	position: relative;
	width: 220px;
	left: 1050px;
	top: -15.4px;
	border-radius: 15px;
	height: 47px;
	text-align: center;
	opacity: 0.9;
	background: rgba(255, 255, 255, 0.08);
}

.wallet span {
	color: #ffff;
	font-size: 14px;
	font-family: "Inter", sans-serif;
	top: 0.1rem;
	position: relative;
	left: -2%;
}

.wallet img {
	width: 26px;
	height: 27px;
	position: relative;
	left: -5%;
	right: 17.01%;
	top: 23%;
	bottom: 96.14%;
}
.hr-lin {
	position: relative;
	min-width: 101%;
	height: 0px;
	left: -15px;
	top: 20px;
	border: 1px solid rgba(255, 255, 255, 0.21);
	transform: rotate(180deg);
}

.vertical-line {
	border-left: 1px solid rgba(255, 255, 255, 0.21);
	height: 500px;
	position: relative;
	left: 265px;
	top: 1.23rem;
}

.left-half {
	position: absolute;
	top: 25%;
	left: 23%;
	color: wheat;
}

.left-half b {
	width: 196px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 128%;
	/* identical to box height, or 31px */

	text-align: center;
	letter-spacing: 0.02em;

	color: #ffffff;
}

.left-half h1 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 128%;
	letter-spacing: 0.02em;
	letter-spacing: 2%;
	color: #88e900;
	max-width: 70%;
	margin-top: 10px;
}

.left-half p {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	max-width: 364px;
	color: #ffffff;
	margin-top: 15px;
}
.left-but {
	margin-top: 10px;
}
button.create-loan {
	box-sizing: border-box;
	width: 165px;
	height: 45px;
	background: #88e900;
	border-radius: 20px;
}
button.create-loan span {
	font-family: "Inter";
	font-style: normal;
	font-size: 15px;
	line-height: 19px;
	color: #26143e;
	font-weight: 500;
}
button.inst-loan {
	margin-left: 27px;
	width: 165px;
	height: 45px;
	border: 1px solid #88e900;
	border-radius: 20px;
	background-color: transparent;
}
button.inst-loan span {
	font-family: "Inter";
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	color: #88e900;
}
