@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #100420;
	overflow-x: clip;
	margin: auto;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: white;
	padding-bottom: 95em;
}

header {
	z-index: 1;
	position: fixed;
	backdrop-filter: blur(15px);
	height: 6.4rem;
	background-color: #100420de;
	width: 100%;
}

.logo {
	position: relative;
	left: 3%;
	right: 0%;
	top: 42px;
	bottom: 0%;
	width: 149px;
}

input[type="text"] {
	position: relative;
	width: 562px;
	height: 47px;
	top: 30px;
	left: 200px;
	border-radius: 15px;
	border: none;
	opacity: 0.9;
	padding: 24px;
	background: rgba(46, 28, 69, 0.51);
	color: white;
	font-size: 18px;
}

input::placeholder {
	line-height: 19px;
	position: relative;
	left: 3%;
	font-size: 18px;

	color: rgba(255, 255, 255, 0.67);
}

img.search {
	position: relative;
	width: 20px;
	height: 29px;
	left: 11.5%;
	top: 40.4px;
	color: #100420;
}

.wallet {
	background-color: azure;
	position: relative;
	width: 220px;
	left: 1090px;
	top: -19px;
	border-radius: 15px;
	height: 47px;
	text-align: center;
	opacity: 0.9;
	background: rgba(255, 255, 255, 0.08);
}

.wallet span {
	color: #ffff;
	font-size: 14px;
	font-family: "Inter", sans-serif;
	top: 0.1rem;
	position: relative;
	left: -2%;
}

.wallet img {
	width: 26px;
	height: 27px;
	position: relative;
	left: -5%;
	right: 17.01%;
	top: 23%;
	bottom: 96.14%;
}
.hr-lin {
	position: relative;
	width: 87rem;
	left: -15px;
	border: 1px solid rgba(255, 255, 255, 0.21);
	transform: rotate(180deg);
}

.vertical-line {
	border-left: 1px solid rgba(255, 255, 255, 0.21);
	height: 1240px;
	position: fixed;
	left: 240px;
}

.left-half {
	position: absolute;
	left: 22%;
	top: -53rem;
}

.left-half b {
	width: 196px;
	font-weight: 700;
	font-size: 24px;
	line-height: 128%;
	text-align: center;
	letter-spacing: 0.02em;
}

.left-half h1 {
	font-weight: 900;
	font-size: 48px;
	line-height: 128%;
	letter-spacing: 0.02em;
	letter-spacing: 2%;
	color: #88e900;
	max-width: 45%;
	margin-top: 10px;
}

.left-half p {
	font-weight: 500;
	line-height: 25px;
	max-width: 45%;
	margin-top: 15px;
}
.left-but {
	margin-top: 10px;
}

button {
	cursor: pointer;
}

button.create-loan {
	box-sizing: border-box;
	width: 165px;
	height: 45px;
	background: #88e900;
	border-radius: 20px;
	border: none;
	color: #26143e;
}
button.create-loan span {
	font-size: 15px;
	line-height: 19px;
	font-weight: 500;
}

button.create-loan:active {
	background-color: transparent;
	border: 1px solid #88e900;
	color: #88e900 !important;
}

button.inst-loan {
	margin-left: 19px;
	width: 165px;
	height: 45px;
	border: 1px solid #88e900;
	border-radius: 20px;
	background-color: transparent;
	color: #88e900;
	font-size: 15px;
}
button.inst-loan span {
	line-height: 19px;
}
button.inst-loan:active {
	background-color: #88e900;
	color: #26143e;
}
#right-half1 {
	font-family: "Inter";
	position: relative;
	box-sizing: border-box;
	width: 310px;
	height: 402px;
	left: 690px;
	top: -55.5em;
	padding-right: 4em;
	background: rgba(228, 206, 255, 0.17);
	backdrop-filter: blur(15.5px);
	border-radius: 20px;
}

.depo-bold {
	position: absolute;
	left: 26px;
	top: 21px;
	font-weight: 700;
	font-size: 24px;
	line-height: 154.52%;
}

.depo-text {
	position: absolute;
	left: 26px;
	top: 64px;
	width: 90%;
	line-height: 132.52%;
	font-size: 18px;
}

.coin-depo {
	position: relative;
	width: 265px;
	height: 244px;
	left: 26px;
	top: 125px;
	bottom: 33px;
}
#eth-card {
	box-sizing: border-box;
	position: absolute;
	width: 265px;
	height: 56px;
	background: rgba(228, 206, 255, 0.17);
	border-radius: 15px;
}

#sol-card {
	box-sizing: border-box;
	position: absolute;
	width: 265px;
	height: 56px;
	bottom: 126px;
	max-width: 100%;
	background: rgba(228, 206, 255, 0.17);
	border-radius: 15px;
}

#usdc-card {
	box-sizing: border-box;
	position: absolute;
	width: 265px;
	height: 56px;
	bottom: 64px;
	background: rgba(228, 206, 255, 0.17);
	border-radius: 15px;
}

#matic-card {
	box-sizing: border-box;
	position: absolute;
	width: 265px;
	height: 56px;
	top: 186px;
	background: rgba(228, 206, 255, 0.17);
	border-radius: 15px;
}

#eth-icon {
	position: relative;
	left: 7px;
	top: 6.36px;
}

.eth-descript {
	position: absolute;
	left: 51px;
	bottom: 10px;
}

#eth-apy {
	font-size: 14px;
	color: #88e900;
}

#eth-but {
	box-sizing: border-box;
	border: none;
	width: 80px;
	height: 35px;
	margin-left: 170px;
	background: #88e900;
	backdrop-filter: blur(15.5px);
	/* Note: backdrop-filter has minimal browser support */
	margin-top: -34.5px;
	display: block;
	border-radius: 10px;
	font-weight: 700;
}

.blur {
	position: absolute;
	width: 466px;
	height: 430px;
	left: 887px;
	top: -55em;
	background: rgba(0, 156, 243, 0.24);
	filter: blur(110px);
}

#sol-img {
	position: absolute;
	left: 10.38px;
	top: 9px;
}

.sol-descript {
	position: absolute;
	left: 51px;
	bottom: 10px;
	top: 9px;
}

.sol-descript span {
	color: #88e900;
	font-size: 14px;
}
#sol-but {
	box-sizing: border-box;
	border: none;
	width: 80px;
	height: 35px;
	margin-left: 170px;
	background: #88e900;
	backdrop-filter: blur(15.5px);
	/* Note: backdrop-filter has minimal browser support */
	margin-top: 11px;
	display: block;
	border-radius: 10px;
	font-weight: 700;
}

#usdc-img {
	position: absolute;
	left: 10.38px;
	top: 9px;
}

.usdc-descript {
	position: absolute;
	left: 51px;
	bottom: 10px;
	top: 9px;
}

.usdc-descript span {
	color: #88e900;
	font-size: 14px;
}

#usdc-but {
	box-sizing: border-box;
	border: none;
	width: 80px;
	height: 35px;
	margin-left: 170px;
	background: #88e900;
	backdrop-filter: blur(15.5px);
	/* Note: backdrop-filter has minimal browser support */
	margin-top: 11px;
	display: block;
	border-radius: 10px;
	font-weight: 700;
}

#matic-img {
	position: absolute;
	left: 1px;
	top: 4px;
}

.matic-descript {
	position: absolute;
	left: 51px;
	bottom: 10px;
	top: 9px;
}

.matic-descript span {
	color: #88e900;
	font-size: 14px;
}
#matic-but {
	box-sizing: border-box;
	border: none;
	width: 80px;
	height: 35px;
	margin-left: 170px;
	background: #88e900;
	backdrop-filter: blur(15.5px);
	/* Note: backdrop-filter has minimal browser support */
	margin-top: 11px;
	display: block;
	border-radius: 10px;
	font-weight: 700;
}

#right-half2 {
	font-family: "Inter";
	position: relative;
	margin-top: -37.7rem;
	box-sizing: border-box;
	width: 310px;
	height: 402px;
	left: 1020px;
	top: -43em;
	background: rgba(228, 206, 255, 0.17);
	backdrop-filter: blur(15.5px);
	/* Note: backdrop-filter has minimal browser support */
	border-radius: 20px;
}

.second-half {
	position: relative;
	top: -14rem;
	left: -1em;
}

nav {
	position: relative;
	left: 261px;
	top: 38rem;
	font-size: 18px;
}

nav ul li {
	list-style: none;
	line-height: 19px;
	float: left;
	margin: 19px 33px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	display: inline-block;
	position: relative;
}
nav ul li a::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: -15px;
	left: 0;
	background-color: white;
	transform-origin: bottom right;
	transition: transform 0.2s ease-in-out;
}
nav ul li a:hover {
	font-weight: 500;
}
nav ul li a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.line2 {
	border: 1px solid rgba(255, 255, 255, 0.2);
	position: absolute;
	width: 1035px;
	height: 0px;
	left: 33px;
	top: 51px;
}

.filter {
	box-sizing: border-box;
	position: absolute;
	width: 955px;
	height: 100px;
	left: 295px;
	top: 685px;
	border: 1px solid rgba(255, 255, 255, 0.17);
	border-radius: 15px;
	padding-left: 3px;
}

.nft-cards {
	display: block;
}

.filt-text {
	position: relative;
	left: 20px;
	font-weight: 700;
	line-height: 19px;
	top: -1px;
}

select {
	font-size: 16px;
	color: white;
	border: none;
	width: 90px;
	box-sizing: border-box;
	position: relative;
	padding-left: 20px;
	width: 172px;
	height: 46px;
	left: -27px;
	appearance: none;
	top: 40px;
	margin-right: 9px;
	background: rgba(238, 225, 255, 0.13);
	border-radius: 15px;
	outline: none;
}

option {
	background-color: #26143e;
}

.drop-down-arrow {
	position: absolute;
	left: 17%;
	top: 60px;
	pointer-events: none;
}

#drop-down3 {
	margin-left: -19px;
}
#drop-down4 {
	margin-left: -19px;
}
#drop-down5 {
	position: relative;
	left: 754px;
	top: -6.5px;
}

.drop-down-arrow2 {
	position: relative;
	left: -70px;
	top: 39px;
}

.drop-down-arrow3 {
	position: relative;
	right: 71px;
	top: 39.8px;
	pointer-events: none;
}

.drop-down-arrow4 {
	pointer-events: none;
	position: absolute;
	right: 223px;
	top: 60px;
}

.drop-down-arrow5 {
	position: absolute;
	top: 60px;
	left: 900px;
	pointer-events: none;
}

.main-page {
	position: relative;
	bottom: -63.5em;
	left: -1em;
}

.nft-card1 {
	box-sizing: border-box;
	position: absolute;
	width: 500px;
	height: 228px;
	left: 297px;
	top: 824px;
	background: #281c39;
	border-radius: 20px;
}

.nft-img {
	display: block;
	margin-top: 24px;
	margin-left: 19px;
}

.clockhand {
	position: absolute;
	right: 208.5px;
	top: 57px;
}
.nft-img span {
	position: absolute;
	width: 94px;
	height: 39px;
	background: #88e900;
	border-radius: 20px 0px;
	top: 164px;
	left: 129px;
	font-weight: 500;
	line-height: 40px;
	text-align: center;
	color: #000000;
}

.nft-card-left1 {
	position: absolute;
	top: 20px;
	left: 48%;
}

.nft-card-left1 b {
	font-weight: 500;
	line-height: 19px;
}

.nft-card-left1 p#list-p {
	display: block;
	margin-top: 8px;
	font-size: 12px;
	line-height: 15px;
	color: #ff8e8e;
}

.nft-icons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
	margin-right: 30px;
}

.nft-icons.img2 {
	width: 18px;
}

.nft-icons span {
	line-height: 19px;
	position: relative;
	bottom: 7px;
	margin-left: 5px;
	margin-right: 19px;
}

.span span {
	margin-top: 10px;
	display: inline-grid;
	line-height: 19px;
}

.span span.green {
	color: #88e900;
	margin-right: 6px;
}

.span span#green-apy {
	margin-left: 19px;
}

.line3 {
	display: block;
	width: 224px;
	height: 0px;
	margin-top: 15px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom-left #loanReturn {
	line-height: 19px;
	display: block;
	margin-top: 10px;
}

.bottom-left img {
	margin-top: 10px;
	width: 27px;
	height: 27px;
}

.bottom-left #eight {
	line-height: 19px;
	position: relative;
	left: 6px;
	bottom: 10px;
}

.nft-card2 {
	box-sizing: border-box;
	position: absolute;
	width: 500px;
	height: 228px;
	left: 820px;
	top: 824px;
	background: #281c39;
	border-radius: 20px;
}

.nft-img2 {
	display: block;
	margin-top: 24px;
	margin-left: 19px;
}

.clockhand2 {
	position: absolute;
	right: 208.5px;
	top: 5px;
}
.nft-img2 span {
	position: absolute;
	width: 94px;
	height: 39px;
	background: #88e900;
	border-radius: 20px 0px;
	top: 164px;
	left: 129px;
	font-weight: 500;
	line-height: 40px;
	text-align: center;
	color: #000000;
}

.nft-card-left2 {
	position: absolute;
	top: 20px;
	left: 48%;
}

.nft-card-left2 b {
	font-weight: 500;
	line-height: 19px;
}

.nft-card-left2 p#list-p2 {
	display: block;
	margin-top: 8px;
	font-size: 12px;
	line-height: 15px;
	color: #ff8e8e;
}

.nft-icons2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
	margin-right: 30px;
}

.nft-icons2 span {
	line-height: 19px;
	position: relative;
	bottom: 7px;
	margin-left: 5px;
	margin-right: 19px;
}

.span2 span {
	margin-top: 10px;
	display: inline-grid;

	line-height: 19px;
}

.span2 span.green2 {
	color: #88e900;
	margin-right: 6px;
	margin-left: 5px;
}

.span2 span#green-apy2 {
	margin-left: 19px;
}

.line4 {
	display: block;
	width: 224px;
	height: 0px;
	margin-top: 15px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom-left2 #loanReturn2 {
	line-height: 19px;
	display: block;
	margin-top: 10px;
}

.bottom-left2 img {
	margin-top: 10px;
	width: 27px;
	height: 27px;
}

.bottom-left2 #eight2 {
	line-height: 19px;
	position: relative;
	left: 5px;
	bottom: 10px;
}

.down {
	position: relative;
	top: 18px;
}

.nft-card3 {
	box-sizing: border-box;
	position: absolute;
	width: 500px;
	height: 228px;
	left: 294px;
	top: 1070px;
	background: #281c39;
	border-radius: 20px;
}

.nft-img3 {
	display: block;
	margin-top: 24px;
	margin-left: 19px;
}

.clockhand3 {
	position: absolute;
	right: 208.5px;
	top: 57px;
}

.nft-img3 span {
	position: absolute;
	width: 94px;
	height: 39px;
	background: #88e900;
	border-radius: 20px 0px;
	top: 164px;
	left: 129px;
	font-weight: 500;
	line-height: 40px;
	text-align: center;
	color: #000000;
}

.nft-card-left3 {
	position: absolute;
	top: 20px;
	left: 48%;
}

.nft-card-left3 b {
	font-weight: 500;
	line-height: 19px;
}

.nft-card-left3 p#list-p3 {
	display: block;
	margin-top: 8px;
	font-size: 12px;
	line-height: 15px;
	color: #ff8e8e;
}

.nft-icons3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
	margin-right: 30px;
}

.nft-icons3.img3 {
	width: 18px;
}

.nft-icons3 span {
	line-height: 19px;
	position: relative;
	bottom: 7px;
	margin-left: 5px;
	margin-right: 19px;
}

.span3 span {
	margin-top: 10px;
	display: inline-grid;
	line-height: 19px;
}

.span3 span.green3 {
	color: #88e900;
	margin-right: 6px;
}

.span3 span#green-apy3 {
	margin-left: 19px;
}

.line5 {
	display: block;
	width: 224px;
	height: 0px;
	margin-top: 15px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom-left3 #loanReturn3 {
	line-height: 19px;
	display: block;
	margin-top: 10px;
}

.bottom-left3 img {
	margin-top: 10px;
	width: 27px;
	height: 27px;
}

.bottom-left3 #eight3 {
	line-height: 19px;
	position: relative;
	left: 5px;
	bottom: 10px;
}

.nft-card4 {
	box-sizing: border-box;
	position: absolute;
	width: 500px;
	height: 228px;
	left: 820px;
	top: 1070px;
	background: #281c39;
	border-radius: 20px;
}

.nft-img4 {
	display: block;
	margin-top: 24px;
	margin-left: 19px;
}

.clockhand4 {
	position: absolute;
	right: 208.5px;
	top: 57px;
}
.nft-img4 span {
	position: absolute;
	width: 94px;
	height: 39px;
	background: #88e900;
	border-radius: 20px 0px;
	top: 164px;
	left: 129px;
	font-weight: 500;
	line-height: 40px;
	text-align: center;
	color: #000000;
}

.nft-card-left4 {
	position: absolute;
	top: 20px;
	left: 48%;
}

.nft-card-left4 b {
	font-weight: 500;
	line-height: 19px;
}

.nft-card-left4 p#list-p4 {
	display: block;
	margin-top: 8px;
	font-size: 12px;
	line-height: 15px;
	color: #ff8e8e;
}

.nft-icons4 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
	margin-right: 30px;
}

.nft-icons3.img4 {
	width: 18px;
}

.nft-icons4 span {
	line-height: 19px;
	position: relative;
	bottom: 7px;
	margin-left: 5px;
	margin-right: 19px;
}

.span4 span {
	margin-top: 10px;
	display: inline-grid;
	line-height: 19px;
}

.span4 span.green4 {
	color: #88e900;
	margin-right: 6px;
}

.span4 span#green-apy4 {
	margin-left: 19px;
}

.line6 {
	display: block;
	width: 224px;
	height: 0px;
	margin-top: 15px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom-left4 #loanReturn4 {
	line-height: 19px;
	display: block;
	margin-top: 10px;
}

.bottom-left4 img {
	margin-top: 10px;
	width: 27px;
	height: 27px;
}

.bottom-left4 #eight4 {
	line-height: 19px;
	position: relative;
	left: 5px;
	bottom: 10px;
}

.nft-card5 {
	box-sizing: border-box;
	position: absolute;
	width: 500px;
	height: 228px;
	left: 294px;
	top: 82.3rem;
	background: #281c39;
	border-radius: 20px;
}

.nft-img5 {
	display: block;
	margin-top: 24px;
	margin-left: 19px;
}

.clockhand5 {
	position: absolute;
	top: 57px;
	left: 10px;
}
.nft-img5 span {
	position: absolute;
	width: 94px;
	height: 39px;
	background: #88e900;
	border-radius: 20px 0px;
	top: 164px;
	left: 129px;
	font-weight: 500;
	line-height: 40px;
	text-align: center;
	color: #000000;
}

.nft-card-left5 {
	position: absolute;
	top: 20px;
	left: 48%;
}

.nft-card-left5 b {
	font-weight: 500;
	line-height: 19px;
}

.nft-card-left5 p#list-p5 {
	display: block;
	margin-top: 8px;
	font-size: 12px;
	line-height: 15px;
	color: #ff8e8e;
}

.nft-icons5 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
	margin-right: 30px;
}

.nft-icons5 span {
	line-height: 19px;
	position: relative;
	bottom: 7px;
	margin-left: 5px;
	margin-right: 19px;
}

.span5 span {
	margin-top: 10px;
	display: inline-grid;
	line-height: 19px;
}

.span5 span.green5 {
	color: #88e900;
	margin-right: 6px;
}

.span5 span#green-apy5 {
	margin-left: 19px;
}

.line7 {
	display: block;
	width: 224px;
	height: 0px;
	margin-top: 15px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom-left5 #loanReturn5 {
	line-height: 19px;
	display: block;
	margin-top: 10px;
}

.bottom-left5 img {
	margin-top: 10px;
	width: 27px;
	height: 27px;
}

.bottom-left5 #eight5 {
	line-height: 19px;
	position: relative;
	left: 5px;
	bottom: 10px;
}

.nft-card6 {
	box-sizing: border-box;
	position: absolute;
	width: 500px;
	height: 228px;
	left: 820px;
	top: 82.3rem;
	background: #281c39;
	border-radius: 20px;
}

.nft-img6 {
	display: block;
	margin-top: 24px;
	margin-left: 19px;
}

.clockhand6 {
	position: absolute;
	left: 10px;
	top: 57px;
}
.nft-img6 span {
	position: absolute;
	width: 94px;
	height: 39px;
	background: #88e900;
	border-radius: 20px 0px;
	top: 164px;
	left: 129px;
	font-weight: 500;
	line-height: 40px;
	text-align: center;
	color: #000000;
}

.nft-card-left6 {
	position: absolute;
	top: 20px;
	left: 48%;
}

.nft-card-left6 b {
	font-weight: 500;
	line-height: 19px;
}

.nft-card-left6 p#list-p6 {
	display: block;
	margin-top: 8px;
	font-size: 12px;
	line-height: 15px;
	color: #ff8e8e;
}

.nft-icons6 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
	margin-right: 30px;
}

.nft-icons6 span {
	line-height: 19px;
	position: relative;
	bottom: 7px;
	margin-left: 5px;
	margin-right: 19px;
}

.span6 span {
	margin-top: 10px;
	display: inline-grid;

	line-height: 19px;
}

.span6 span.green6 {
	color: #88e900;
	margin-right: 6px;
}

.span6 span#green-apy6 {
	margin-left: 19px;
}

.line8 {
	display: block;
	width: 224px;
	height: 0px;
	margin-top: 15px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom-left6 #loanReturn6 {
	line-height: 19px;
	display: block;
	margin-top: 10px;
}

.bottom-left6 img {
	margin-top: 10px;
	width: 27px;
	height: 27px;
}

.bottom-left6 #eight6 {
	line-height: 19px;
	position: relative;
	left: 5px;
	bottom: 10px;
}
/* Scrollbar styling */
/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #a58ab850;
	border: none;
	border-radius: 20px;
	height: 33px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #c7b7d37a;
}

.navi-section {
	position: fixed;
	left: 1rem;
	top: 7rem;
	height: 40rem;
	overflow-y: auto;
	overflow-x: hidden;
	width: 16.5%;
	font-family: "Inter";
}

.navi-section::-webkit-scrollbar {
	display: none;
}
.navi-section img.icon {
	position: absolute;
	top: 13px;
	left: -30px;
}

.navi-section img.caret {
	position: absolute;
	top: 22px;
	left: 140px;
}

.dropdown {
	min-width: 15em;
	position: relative;
	margin: 2em;
	margin-bottom: -30px;
}

.dropdown * {
	box-sizing: border-box;
}

.select {
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	cursor: pointer;
}

.caret {
	transition: 0.2s;
}

.caret-rotate {
	transform: rotate(180deg);
}

.menu {
	list-style: none;
	padding-left: 1.5em;
	transition: 0.3s;
	display: none;
}

.menu li {
	padding: 0.7em 0.5em;
	cursor: pointer;
}

.active {
	color: #88e900;
}

.menu-open {
	display: block;
	opacity: 1;
}

.social-box {
	width: 189px;
	height: 234px;
	margin-top: 58px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	border: 1px solid rgba(255, 255, 255, 0.11);
	border-radius: 20px;
	margin-bottom: 44%;
}

.connect {
	text-align: center;
	display: block;
	margin-top: 25px;
	margin-left: 20px;
	margin-right: 14px;
	margin-bottom: 15px;
}

.border {
	width: 126px;
	height: 36px;
	border: 1px solid rgba(255, 255, 255, 0.29);
	border-radius: 20px;
	display: block;
	margin-left: 21px;
	max-inline-size: auto;
	cursor: pointer;
}

.border span {
	position: relative;
	bottom: 13%;
	left: 6%;
}
.border img {
	margin-top: 6.5px;
	margin-left: 1em;
}

.border#inst {
	width: 136px;
}

.error {
	display: none;
}

@media (max-width: 1325px) {
	body {
		background: #26143e;
		overflow-y: hidden;
	}
	header {
		display: none;
	}
	.navi-section {
		display: none;
	}
	.main-page {
		display: none;
	}
	.second-half {
		display: none;
	}
	.error {
		display: block;
		overflow-x: hidden;
	}
	.error img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 95%;
	}
	.error-text {
		max-width: 95%;
		text-align: center;
	}
	.error b {
		font-size: 2rem;
	}
	.error p {
		margin-top: 1em;
	}
}

@media (min-width: 1500px) {
	body{
		background-color: red;
	}
}
